depends/boost/boost_*/
depends/breakpad/breakpad-*/
depends/dnssd/mDNSResponder-*/
depends/curl/curl-*/
depends/libcec/libcec-*/
depends/libiconv/libiconv-*/
depends/libmicrohttpd/libmicrohttpd-*/
depends/libogg/libogg-*/
depends/libsamplerate/libsamplerate-*/
depends/libvorbis/libvorbis-*/
depends/openssl/openssl-*/
depends/pcre/pcre-*/
depends/shairplay/shairplay-*/
depends/sqlite3/sqlite-*/
depends/tinyxml/tinyxml/
depends/yajl/yajl-*/
depends/zlib/zlib-*/
plex-depends/
plex-depends.7z
plex-depends-*.7z
